*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    height: 100px;
    align-items: center;

}

.abc{
    display: flex;
    border: 1px solid;
}

aside{
    border: 1px solid;
    height: 80vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}